.DS_Store
.idea
.vscode
.venv
.vs
.wechaty/
__pycache__/
venv*
*.pyc
config.json
QR.png
nohup.out
tmp
plugins.json
itchat.pkl
*.log
logs/
user_datas.pkl
chatgpt_tool_hub/
plugins/**/*.json
plugins/*.json
plugins/banwords/__pycache__
plugins/banwords/lib/__pycache__
client_config.json
!plugins/plugins.json
